manifest {
    description = 'Create phylogenetic trees'
    author = 'Johannes Werner'
}

params {
	gene_name            = "phnJ"
	prokka_protein_fasta = "input_files/glyph.faa"
	prokka_gff           = "input_files/glyph.gff"
	tax_list             = "input_files/taxa_of_interest.txt"
	kallisto_matrix      = "input_files/kallisto_abundance_matrix.tsv.gz"
	raxml_randomseed     = "12345"
	raxml_model          = "PROTCATAUTO"
	raxml_algorithm      = "a"
	raxml_runs           = "10"
}

